*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f9fbfd;
}

main {
    padding: 10vh 5vw;
}

header {
    text-align: center;
    padding: 2vh 5vw;
    color: #272727;
}

.quiz {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: #272727;
    font-size: 16px;
    font-weight: bold;
    margin: 0 15vw;
    max-width: 75vw;
    padding: 5vh 5vw;
}

.quiz h2,
.quiz p {
    text-align: center;
}

.quiz-footer {
}

button {
    border: none;
    background-color: indigo;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: #fff;
    font-size: 22px;
    line-height: 22px;
    margin: 0 auto;
    padding: 6px 12px;
    cursor: pointer;
}
button.start {
    display: block;
}