*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f9fbfd;
    height: 100vh;
}

/* header */
header {
    height: 15vh;
    color: #272727;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2rem;
}

/* main page style */
main {
    height: 85vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* remove underline for links */
a {
    text-decoration: none;
}

/* card styling */
.quiz {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: #272727;
    font-size: 16px;
    font-weight: bold;
    min-width: 45vw;
    max-width: 70vw;
    padding: 5vh 5vw;
}

/* center align text in card */
.quiz h2,
.quiz p {
    text-align: center;
}

/* quiz body */
.quiz-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quiz-body ol {
    font-size: 24px;
    line-height: 200%;
}
.quiz-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* button styles */
button {
    border: 1px solid black;
    background-color: rgb(75, 0, 130);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px,
        rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: #fff;
    font-size: 22px;
    line-height: 22px;
    cursor: pointer;
}

/* style high scores list */
#scores-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}
#scores-list li {
    background-color: rgba(75, 0, 130, 0.10);
    padding: 3px;
    margin: 5px 0px;
}
